<h1>StaticPages#home</h1>

board: 
<div id="board-value"><%= @game.board %></div>
<br>

empty: <%= @empty %>
<br>

player_first: <%= @game.player_first %>
<br>

<div id="js-board"></div>
<div id="board">
	<div id="grid-1" class="grid-space"></div>
	<div id="grid-2" class="grid-space"></div>
	<div id="grid-3" class="grid-space"></div>
	<div id="grid-4" class="grid-space"></div>
	<div id="grid-5" class="grid-space"></div>
	<div id="grid-6" class="grid-space"></div>
	<div id="grid-7" class="grid-space"></div>
	<div id="grid-8" class="grid-space"></div>
	<div id="grid-9" class="grid-space"></div>
</div>
