@import 'bootstrap';
$light-green: #00FF95;
$light-red: #FF5773;
$light-blue: #0095FF;

/****** BOARD *******/
#board {
	height: 900px;
	width: 900px;
	background: white;
}

.grid-space {
	border: 1px solid black;
	background: $light-blue;
	height: 100px;
	width: 100px;
	float: left;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	&:nth-child(3n+1){
		clear: left;
	}
	&:not(.comp-move):hover{
		background: $light-green;
	}
	&:not(.player-move):hover:not(.comp-move):hover{
		cursor:pointer;
	}
}

.player-move {
	background: $light-green;
}

.comp-move {
	//background: red;
	background: $light-red;
}

.click-test {
	width: 100px;
	height: 20px;
	background: red;
}
.selection {
	background: #eaeaea;
	color: white;
	border: 1px solid black;
	width: 150px;
	float: left;
	text-align: center;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
}
#new {
	background: $light-blue;
	padding: 10px;
	display: none;
}

#player-first {
	padding: 10px 0px;
	&:hover {
		background: $light-green;
	}
}

#comp-first {
	padding: 10px 0px;
	display: inline-block;
	float: none;
	&:hover {
		background: $light-red;
	}
}
.first {
	background: $light-green;
	color: white;
	&:not(#player-first){
		background: $light-red;
	}
}

#start {
	width: 300px;
	background: $light-blue;
	text-align: center;
	color: white;
	padding: 10px;
	border: 1px solid black;
	border-top: none;
	cursor: pointer;
}