@import 'bootstrap';
$light-green: #00FF95;
$light-red: #FF5773;
$light-blue: #0095FF;

/****** BOARD *******/
#board {
	height: 300px;
	width: 300px;
	background: white;
	float: left;
	//margin: 0px auto;
}

.tic-tac-toe {
	//margin: 0px auto;
}

.grid-space {
	border: 1px solid black;
	background: $light-blue;
	height: 100px;
	width: 100px;
	float: left;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	&:nth-child(3n+1){
		clear: left;
	}
	&:not(.comp-move):hover{
		background: $light-green;
	}
	&:not(.player-move):hover:not(.comp-move):hover{
		cursor:pointer;
	}
}

.player-move {
	background: $light-green;
}

.comp-move {
	//background: red;
	background: $light-red;
}
/************ TEST BOARD ************/
body, html, .container, #app {
	height: -webkit-calc(100% - 16.5px);
	//height: 100%;
	width: 100%;

}
#test-el {
	height: 100%;
	width: 100%;
	#test-board {
		float: left;
		background: black;
		height: 100%;
		width: 60%;
		margin-bottom: 50px;
		.grid-space {
			border: 1px solid black;
			//height: -webkit-calc(33%);
			//height: calc(33%);
			//width: -webkit-calc(33%);
			height: 33.27%;
			width: 33.3333%;
			//background: white;
		}
	}
	#sel-cont {
		//display: block;
		width: 40%;
		float: right;
		//overflow: hidden;
		.selection {
			width: 50%;
			border-left: none;
		}
		#start {
			width: 100%;
			display: block;
			border-left: none;
		}
	}
}
#clearer {
	//clear: right;
}
/************ MISC ******************/
.stats {
	display: none;
}
.container {
	padding-top: 60px;
}
/************* NAVBAR ***************/
header{
	//background: blue;
}
.navbar, .navbar-default, .navbar-header, .navbar-inverse {
    border-radius: 0px !important;
    -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
    background: blue;
    margin: 0px;
    //padding: 0px;
    text-align: center;
}
.navbar {
    //display: inline-block;
	ul {
		float: right;
		text-align: center;
			li {
			a {
				float: right;
				&:visited {
					color: white;
				}
			}
		}
	}
}
/************ FIRST MOVER ***********/
.selection {
	background: #eaeaea;
	color: white;
	border: 1px solid black;
	width: 150px;
	float: left;
	text-align: center;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
}
#new {
	background: $light-blue;
	padding: 10px;
	display: none;
}

#player-first {
	padding: 10px 0px;
	&:hover {
		background: $light-green;
	}
}

#comp-first {
	padding: 10px 0px;
	display: inline-block;
	float: none;
	&:hover {
		background: $light-red;
	}
}
.first {
	background: $light-green;
	color: white;
	&:not(#player-first){
		background: $light-red;
	}
}

#start {
	width: 300px;
	background: $light-blue;
	text-align: center;
	color: white;
	padding: 10px;
	border: 1px solid black;
	border-top: none;
	cursor: pointer;
}

#sel-cont {
	//display: block;
	//float: right;
	//margin-bottom: 50px;
}

/********** GAME OVER **************/
#game-over-slot{ 
	display: inline-block;
	width: 40%;
	//height: 100%;
	h1 {
		text-align: center;
	}
	#game-over-el {
		padding: 10px 15px 10px 15px;
		//width: 100%;
		//height: 100%;
		//float: right;
		//background: purple;
	}
	#how-el {
	}
}