<header class="navbar navbar-inverse bs-docs-nav" role="banner">
	<ul class= "nav navbar-nav pull-left">
		<p class="navbar-text">
			<span>Tic Tac No</span>
			by John Howlett
		</p>
	</ul>
	<ul class="nav navbar-nav">
		<li><%= link_to "how it works", "#", id: "how-link" %></li>
		<li><%= link_to "github", "http://www.github.com/johnh4/tic_tac_no", 
				target: "_blank" %></li>
	</ul>
</header>
