<!DOCTYPE html>
<html>
<head>
  <title>TicTacNo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<div id="app"></div>
		<%= yield %>
	</div>
	<script type="text/template" id="tic-tac-toe-template">
		 <h1>From Template</h1>	
		 board: <%%= board %><br>
		 player_first: <%%= player_first %><br>
		 turns_taken: <%%= turns_taken %><br>
		 <div id="new" class="selection">FIRST:</div>
		 <div id="sel-cont">
			 <div id="player-first" class="selection <%%= player_first == true ? 'first' : 'nope' %>">YOU FIRST</div>
			 <div id="comp-first" class="selection <%%= player_first == false ? 'first' : 'nope' %>">COMP FIRST</div>
		 </div>
		 <div id="start">START ANEW</div>
		 <div id="set-player-first"><%%= player_first %></div>

		 <div id="board-value"><%%= board %></div>
		 <div id="js-board"></div>
		<div id="board">
			<div id="grid-1" class="grid-space"></div>
			<div id="grid-2" class="grid-space"></div>
			<div id="grid-3" class="grid-space"></div>
			<div id="grid-4" class="grid-space"></div>
			<div id="grid-5" class="grid-space"></div>
			<div id="grid-6" class="grid-space"></div>
			<div id="grid-7" class="grid-space"></div>
			<div id="grid-8" class="grid-space"></div>
			<div id="grid-9" class="grid-space"></div>
		</div>
	</script>
</body>
</html>
